body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  background: #020617;
  padding: 20px;
  box-shadow: 0 0 10px black;
}

nav {
  padding: 15px;
  background: #020617;
}

button {
  background: #2563eb;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
  transform: scale(1.05);
}

.seccion {
  display: none;
  padding: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  min-width: 120px;
  box-shadow: 0 0 10px black;
}

.card:hover {
  transform: scale(1.08);
  background: #334155;
}