body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: black;
  color: white;
  overflow: hidden;
}

header {
  text-align: center;
  padding: 15px;
  background: #111;
}

button {
  background: #2563eb;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#pantalla {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

/* ===== BOOT ===== */

.boot-screen {
  background: black;
  color: #22c55e;
  font-family: monospace;
  text-align: center;
}

.barra {
  width: 300px;
  height: 20px;
  background: #111;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.progreso {
  height: 100%;
  width: 0%;
  background: #22c55e;
}

/* ===== LOGIN ===== */

.login {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.login input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

/* ===== DESKTOP ===== */

.desktop {
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1527443224154-c4a3942d3acf?q=80&w=2070") center/cover;
  position: relative;
}

.icono {
  width: 70px;
  text-align: center;
  cursor: grab;
  position: absolute;
  user-select: none;
}

.icono:hover {
  transform: scale(1.05);
}

/* ===== VENTANAS ===== */

.ventana {
  width: 300px;
  background: #0f172a;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 100px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.barra-titulo {
  background: #1e293b;
  padding: 10px;
  cursor: grab;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.contenido {
  padding: 15px;
}

.cerrar {
  cursor: pointer;
  color: red;
  font-weight: bold;
}
