body{
  margin:0;
  font-family:Arial, sans-serif;
}

#pantalla{
  width:100vw;
  height:100vh;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

button{
  padding:12px 20px;
  border:none;
  border-radius:8px;
  background:#2563eb;
  color:white;
  font-size:16px;
}

/* escritorio */

.desktop{
  width:100%;
  height:100%;
  background:linear-gradient(135deg,#0f172a,#020617);
  display:flex;
  flex-wrap:wrap;
  align-content:flex-start;
  padding:15px;
  gap:15px;
}

.icono{
  width:90px;
  text-align:center;
  padding:10px;
  background:rgba(255,255,255,0.1);
  border-radius:10px;
  cursor:pointer;
}

.ventana{
  position:fixed;
  top:10%;
  left:5%;
  width:90%;
  max-width:400px;
  background:#0f172a;
  color:white;
  border-radius:10px;
  padding:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.6);
}

.cerrar{
  text-align:right;
  cursor:pointer;
  color:red;
}
