body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

/* ===== PANTALLA ===== */

#pantalla {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* ===== DESKTOP ===== */

.desktop {
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1492724441997-5dc865305da7?q=80&w=2070") center/cover;
  position: relative;
}

/* ===== ICONOS ===== */

.icono {
  width: 70px;
  text-align: center;
  cursor: grab;
  position: absolute;
  color: white;
  user-select: none;
}

.icono:hover {
  transform: scale(1.05);
}

/* ===== VENTANAS ===== */

.ventana {
  width: 320px;
  background: #0f172a;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 100px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  animation: aparecer 0.2s ease;
}

@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.barra-titulo {
  background: #1e293b;
  padding: 10px;
  cursor: grab;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.botones span {
  margin-left: 10px;
  cursor: pointer;
}

.contenido {
  padding: 15px;
  color: white;
}

/* ===== TASKBAR ===== */

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: rgba(15, 23, 42, 0.95);
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.inicio {
  background: #2563eb;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.reloj {
  margin-left: auto;
}

/* ===== MENU INICIO ===== */

.menu-inicio {
  position: absolute;
  bottom: 55px;
  left: 10px;
  width: 200px;
  background: #0f172a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: none;
}
